header {
    @include colors(transparent, $dark-accent);
    padding: $element-gap;
    border-radius: inherit;
    position: relative;
    width: 100%;

    * {
        margin: 0;
    }

    button {
        position: fixed;
        top: $element-gap;
        right: $element-gap;
    }

    h1 { 
        font-size: 2.4rem; 
        text-transform: uppercase;
        text-shadow: 3px 3px 0 $main-color,
                     -1px -1px 0 $main-color,
                     7px 7px 8px $dark-shade;
    }
}

footer {
    @include colors(rgba(255,255,255,0.7), $dark-shade);
    text-align: center;
    font-weight: 600;
    padding: $element-gap;
    border-radius: inherit;
    width: 100%;

    * {
        margin: 0;
        font-size: 0.8rem;
        line-height: 1.1;
        font-style: normal;
    }

    a:link, a:visited {
        color: $dark-shade;
        text-decoration: underline;
    }
    a:hover, a:focus, a:active {
        color: $dark-accent;
        text-decoration: underline;
    }
}