body {
    margin: 0;
    background-image: url('../images/french-revolution-execution.webp');
    background-color: $dark-shade;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

// ul {
//     list-style-type: "\2665 ";
// }
// li {
//     padding: 0 0 0.5em 0.5em;
//     font-size: 0.95rem;
// }

h1 { font-size: 1.6rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1.0rem; }

p {
    line-height: 1.36;
}

a {
    text-decoration: none;
    font-weight: 600;
    transition: all .1s ease;
    overflow-wrap: break-word;
}
a:link, a:visited {
    color: $main-color;
}
a:hover, a:focus, a:active {
    color: $dark-shade;
    text-decoration: underline;
}

main {
    flex: 1;
}

section {
    border: 2px solid $main-color;
    border-radius: $element-gap;
    background-color: #FFF;
    box-shadow: 2px 2px 6px 0 $dark-shade;
    padding: $element-gap;
    margin-bottom: $element-gap;
}

button {
    background-color: $main-color;
    color: $light-shade;
    border-radius: $border-radius;
    border: none;
    padding: $border-radius $element-gap;
    cursor: pointer;
}

.article-blanks {
    width: 50px;
    height: 50px;
    border-bottom: 3px solid $dark-shade;
    padding: $border-radius;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}

#container-body {
    width: 100%;
    max-width: 900px;
    margin: $element-gap auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $dark-shade;
    border-radius: $border-radius;
}

#section-letters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: $element-gap;

    #container-blanks {
        display: flex;
        flex-wrap: wrap;
        column-gap: $element-gap;
        justify-content: center;
        align-items: center;
    }
}

#section-keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: $element-gap;

    #container-warning {
        display: none;
        color: white;
        padding: $border-radius;
        text-align: center;
        width: auto;
        border-radius: $border-radius;

        * {
            margin: 0;
        }
    }

    #container-keys {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: $border-radius $border-radius;

        article {
            width: 40px;
            border: 1px solid $dark-accent;
            padding: $border-radius;
            cursor: pointer;
            text-align: center;
        }
    }
}