.container-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.8);
    display: flex;

    opacity: 0;
    visibility: hidden;

    .section-popup {
        @include colors($dark-accent, white);
        @include flexbox(column, nowrap, center, center, 0, 0);
        margin: auto;
        width: 90%;
        max-width: 600px;
        border: none;
        z-index: 100;

        .popup-heading {
            width: 100%;
            @include flexbox(row, nowrap, space-between, flex-start, 0, 0);

            h2 {
                margin: 0;
            }

            i {
                font-size: 1.5rem;
                cursor: pointer;
            }
        }

        p {
            width: 100%;
        }
    }
}

.section-noscript {
    @include colors($dark-shade, white);
    width: 100%;

    a:link, a:visited {
        color: white;
        text-decoration: underline;
        transition: all .3s ease;
    }
    a:hover, a:focus, a:active {
        color: $main-color;
        text-decoration: underline;
    }
}