@charset "utf-8";

/* ----- Fonts ----- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

/* ----- Browser Resets ----- */
@import url("normalize.css");

/* ----- Default Selectors ----- */
html {
    font-size: 18px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ----- Variables ----- */
:root {     
    /* color palette */
    --main-color: #609BB0;
    --light-accent: #BBB5C2;
    --dark-accent: #785263;
    --light-shade: #F6F4F5;
    --dark-shade: #222B42;

    /* fonts */
    --body-font: "Open Sans", Verdana, sans-serif;
    --heading-font: "Nunito", Times, serif;

    /* layout & spacing */
    --element-gap: 15px;
    --border-radius: 5px;
}

/* || GENERAL STYLES */

body {
    margin: 0;
    font-family: var(--body-font);
    font-weight: 300;
    background-color: var(--dark-shade);
}

ul {
    list-style-type: "\2665 ";
}
li {
    padding: 0 0 0.5em 0.5em;
    font-size: 0.95rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    margin-top: 0; 
}
h1 { font-size: 1.6rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

p {
    line-height: 1.36;
}
p small {
    line-height: 1.1;
}
strong {
    font-weight: 600;
}

a {
    text-decoration: none;
    font-weight: 600;
    transition: all .1s ease;
    overflow-wrap: break-word;
}
a:link, a:visited {
    color: var(--main-color);
}
a:hover, a:focus, a:active {
    color: var(--dark-shade);
    text-decoration: underline;
}

header {
    background-color: var(--dark-accent);
    color: var(--light-shade);
    padding: var(--element-gap);
}
header * {
    margin: 0;
}

main {
    flex: 1;
    padding: var(--element-gap);
}

section {
    border: 2px solid var(--main-color);
    border-radius: var(--element-gap);
    background-color: #FFF;
    box-shadow: 2px 2px 6px 0 var(--dark-shade);
    padding: var(--element-gap);
    margin-bottom: var(--element-gap);
}

button {
    background-color: var(--main-color);
    color: var(--light-shade);
    border-radius: var(--border-radius);
    border: none;
    padding: var(--border-radius) var(--element-gap);
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: var(--light-accent);
    color: var(--dark-shade);
}

.section-noscript {
    background-color: var(--dark-shade);
    color: #FFF;
    width: 100%;
}
.section-noscript a:link, .section-noscript a:visited {
    color: #FFF;
    text-decoration: underline;
    transition: all .3s ease;
}
.section-noscript a:hover, .section-noscript a:focus, .section-noscript a:active {
    color: var(--main-color);
    text-decoration: underline;
}

.section-popup {
    min-width: 260px;
    max-width: 400px;
    background-color: var(--dark-accent);
    color: #FFF;
    border: none;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-popup button {
    border: 2px solid var(--dark-shade);
    background-color: var(--light-shade);
    color: var(--dark-shade);
}

.containter-letter {
    padding: var(--border-radius);
    border: 1px solid var(--dark-shade);
}

#container-body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light-shade);
    color: var(--dark-shade);
}

#section-keyboard {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--border-radius) var(--border-radius);
}
#section-keyboard article {
    border: 1px solid var(--dark-accent);
    padding: var(--border-radius);
}

/* || UTILITIES */



/* ----- Media Queries ----- */

